body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 20px 40px;
    font-size: 16px;
}

h1 {
    flex: 1;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.noWrap {
    text-wrap: nowrap;
}

.active {
    background-color: #04AA6D;
}

.chartContainer {
    display: flex;
    flex-direction: row;
}

.chart {
    flex-basis: 33%;
    height: 500px;
}

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.table {
    display: flex;
    padding: 50px;
    gap: 30px;
}

.tableTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Mobile view */
@media (max-width: 1200px) {
    body {
        font-size: 22px;
        padding: 5px;
    }

    .table {
        padding: 10px;
        gap: 20px;
        flex-direction: column;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 38px;
    }

    ul li a {
        padding: 20px 24px;
        font-size: 1.2em;
    }

    .dashboard div {
        font-size: 1.2em;
        margin: 10px 0;
    }

    .chart {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .chartContainer {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 500px) {
    body {
        font-size: 14px;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 18px;
    }

    ul li a {
        padding: 10px 14px;
        font-size: 0.9em;
    }

    .dashboard div {
        font-size: 0.9em;
        margin: 0;
    }

    .chart {
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 20px;
    }

    .chartContainer {
        flex-direction: column;
        align-items: center;
    }
}
